<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MvvMcoord.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MvvMcoordTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MvvMcoordUITests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0403162E221AB5A100F5E350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161AC87021DB6B080078F020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161AC88421DB6B090078F020</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161BCA9A21F4E073005A7D38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
