<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>297894151842-q053p6022o74rgskn01kd4ocfiesi1vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297894151842-q053p6022o74rgskn01kd4ocfiesi1vs</string>
	<key>API_KEY</key>
	<string>AIzaSyA-_Pi6d5T98iWj3TtYchyaV3LNnQC5Zc8</string>
	<key>GCM_SENDER_ID</key>
	<string>297894151842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garneteum.MvvMcoord</string>
	<key>PROJECT_ID</key>
	<string>filterproject2</string>
	<key>STORAGE_BUCKET</key>
	<string>filterproject2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297894151842:ios:f206370590d4ecbb</string>
	<key>DATABASE_URL</key>
	<string>https://filterproject2.firebaseio.com</string>
</dict>
</plist>